{% macro navbar(current_user,page) %}
<nav>
    <ul>
        {% if current_user.is_authenticated %}
        <li class="{% if page == 'home' %}active{% endif %}">Welcome, {{ current_user.id | capitalize }}</li>
        <li class="{% if page == 'evaluation' %}active{% endif %}"><a
                href="{{url_for('EvaluationRoute.get_evaluation')}}">Evaluation</a></li>
        <li class="{% if page == 'home' %}active{% endif %}"><a href="{{url_for('AuthRoute.get_logout')}}">Logout</a>
        </li>
        {% else %}
        <li class="{% if page == 'signup' %}active{% endif %}"><a href="{{url_for('AuthRoute.get_signup')}}">Signup</a>
        </li>
        <li class="{% if page == 'login' %}active{% endif %}"><a href="{{url_for('AuthRoute.get_login')}}">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endmacro %}