{% extends "base.jinja" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post">
    {{form.csrf_token}}
    <fieldset>
        <legend>{{form.username.label}}</legend>
        {{form.username}}
    </fieldset>
    <fieldset>
        <legend>{{form.passwd.label}}</legend>
        {{form.passwd}}
    </fieldset>
    <button type="submit">Enviar</button>
</form>
{% endblock %}