<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{{url_for('static',filename='/css/Global.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}" />
    {% endblock styles %}
</head>

<body>
    <header>
        {% block header %}
        {% endblock header %}
    </header>
    {% for category,message in get_flashed_messages(with_categories=true) %}
    <div class="flash flash-{{category}}">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock content %}
    {% block scripts %}
    <script type="module">
        console.log(document.cookie);
    </script>
    {% endblock scripts %}
</body>

</html>