{% extends "base.jinja" %}
{% from"macros/_navbar.jinja" import navbar %}

{% block header %}
{{navbar(current_user,"home")}}
{% endblock header %}

{% block content %}

<h1>Dashboard</h1>

<a href="{{url_for('EvaluationRoute.get_evaluation')}}">Lista de Evaluaciones</a>
<hr>
<a href="{{url_for('TeacherRoute.get_teacher')}}">Lista de Maestros</a>

{% endblock content %}