{% extends "base.jinja" %}
{% from "macros/_navbar.jinja" import navbar %}

{% block title %}
Welcome to the home page
{% endblock title %}

{% block header %}
{{ super() }}
{{ navbar(current_user,"home") }}
{% endblock header %}

{% block content %}
<h1>Home</h1>
<p class="lead">Welcome to the home page.</p>
{% endblock %}